@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-console-card: #16161B;
  --color-gray-1: #1B1B1E;
  --color-gray-2: #2B3740;
  --color-gray-3: #949FA8;
  --color-ia-gray-text: #767678;
  --color-dark-1: #1A1A1A;
  --color-dark-2: #666666;
  --color-dark-3: #1C1C1C;
  --color-black-1: #0F1011;
  --color-dark-subtitle: #9F9F9F;
  --color-dark-card: #101010;
  --color-light-1: #007DDA;
  --color-light-2: #0066B8;
  --color-light-3: #FF3838;
  /* red */
  --color-light-4: #07D215;
  /* green */
  --color-light-blue-1: #007DDA;
  --color-light-blue-2: #0066B3;
  --color-light-blue-3: #0092FF;
  --color-light-blue-4: #056DBA;
  --color-light-gold-1: #F1C526;
  --color-light-gold-2: #E0B522;
  --color-card-gray: #242425;

  --color-state-bg-submited: #1E2022;
  --color-state-checking: #E8BD11;
  --color-state-bg-checking: #403716;
  --color-state-bg-writing: #043A62;
  --color-state-bg-update: #541717;
  --color-state-update: #F44E4E;

  /* #23232B */
  --spacing-xs: 8px;
  --spacing-sm: 17px;
  --radius-medium: 8px;
  --radius-medium-plus: 10px;


  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  /* --color-border: var(--border); */
  --color-border: oklch(0.7 0.0182 242.54 / 80%);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* :root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;

  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dsr-bg-dark: #000;
}

body {
  overflow-x: hidden;
  background-color: var(--dsr-bg-dark);
  color: var(--dsr-text-dark);
}

/* Override autofill background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-dark-1) inset !important;
  /* Replace with your bg-dark-1 color */
  -webkit-text-fill-color: var(--dsr-text-dark) !important;
  /* Replace with your text color */
  transition: background-color 5000s ease-in-out 0s;
  /* Prevent background color change */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.gradient-text {
  background: linear-gradient(180deg, #FFFFFF 25%, #6E6E6E 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-bg {
  background-image: url('/src/assets/home/trackers/bg.png');
}


@media screen and (min-width: 640px) {
  .wishlist-btn {
    height: 46px !important;
    margin: 2px !important;
    right: 0;
    top: 0;
    position: absolute !important;
  }
}

.custom-btn {
  background: #007DDA;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0;
  font-weight: 600;
  padding: 16px 24px;
}

.custom-btn:hover {
  background: #0066B3;
}

.sticked-btn {
  font-size: 18px;
  padding: 12px 24px;
}


@media screen and (max-width: 640px) {
  .main-btn {
    width: 100%;
  }
}

.navbar-item:hover .navbar-icon path {
  stroke: #0092ff;
}

.active .navbar-icon path {
  stroke: #0092ff;
}


.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: var(--color-light-blue-1);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 var(--color-light-blue-1),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 var(--color-light-blue-1),
      .5em 0 0 var(--color-light-blue-1);
  }
}