:root[data-mantine-color-scheme="light"] body {
    --mantine-color-body: #1B1B1E;
    color: #fff;
}

:root[data-mantine-color-scheme="dark"] body {
    --mantine-color-body: #000;
}

.mantine-InputWrapper-error {
    position: absolute !important;
    margin-top: .5rem !important;
}

.mantine-Input-wrapper {
    margin-bottom: 0 !important;
}

.mantine-Select-option {
    background-color: #0F1011 !important;
    color: white !important;
}

.mantine-Select-option:hover {
    background-color: #949FA8 !important;
}

.mantine-DateInput-day {
    color: white !important;
}

.mantine-DateInput-day:hover:not([data-selected]):not([data-disabled]) {
    background-color: #949FA8 !important;
    color: white !important;
}

.mantine-DateInput-monthPickerControl {
    /* background-color: #949FA8 !important; */
    color: #949FA8 !important;
}

.mantine-DateInput-monthPickerControl:hover:not([data-selected]):not([data-disabled]) {
    background-color: #949FA8 !important;
    color: white !important;
}

/* Top header bar */
.mantine-DateInput-calendarHeader {
    border-radius: 10px;
    background-color: #23232B !important;
}

/* Prev/Next arrow buttons */
.mantine-DateInput-calendarHeaderControl {
    background-color: #23232B !important;
    color: white !important;
}

/* Month/Year label (clickable text in the center) */
.mantine-DateInput-calendarHeaderLevel {
    background-color: #23232B !important;
    color: white !important;
}

/* MultiSelect dropdown options */
.mantine-MultiSelect-option:hover,
.mantine-MultiSelect-option[data-selected] {
  background-color: #949FA8 !important;
  color: black !important;
}


.mantine-MultiSelect-dropdown {
    background-color: #0F1011 !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    /* Optional: remove shadows */
}

.mantine-MultiSelect-item:hover,
.mantine-MultiSelect-item[data-selected] {
    background-color: #949FA8 !important;
    color: black !important;
}

/* Selected pill (tag) style */
.mantine-MultiSelect-pill {
    background-color: #23232B !important;
    color: white !important;
    border-radius: 8px;
}

.mantine-MultiSelect-pill .mantine-Pill-remove {
    color: white !important;
}